.headerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #132639;
    width: 1400px
    
}
.headerLinks div{
    border: 1px ;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 1px;
    padding: 5px 10px;
    background-color: #132639;
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    
}
.headerLinks div a {
    text-decoration: none;
    color: white;
}
.headerLinks .HeaderLogo{
   margin-right: 250px;
}

.MainBody {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.MainBody2{
    display: flex;
    align-items: center;
    background-color: #132639;
    width: 1400px;
    padding: 10px 20px;
    color: white;
    justify-content: center;
}

.MainBody2 div {  
    margin: 20px;
    margin-top: 60px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    text-align: left;
    gap: 50px;
}

.MainBody2 .mB2Text{
    margin-left: -270px;
}

.MainBody3 {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    width: 1400px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    justify-content: center;
}

.MainBody3 div {
    margin: 20px;
    margin-top: 40px;
    padding: 10px solid #132639;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    gap: 50px;
    font-size: 20px;
    
}
.mB3Text {
    font-size: 30px;     
    border: #f4f4f4 20px solid;
    border-top: #f4f4f4 60px solid;
    border-bottom: 20px solid #f4f4f4;
    width: 1400px;
    text-align: center;
    background-color: #f4f4f4;
}

.MainBody4 {
    display: flex;
    align-items: center;
    background-color: #d6d6d6;
    width: 1400px;
    padding: 100px 20px;
    color: rgb(0, 0, 0);
    justify-content: center;
    flex-direction: column;
    
    
}

.MainBody4 .mB4Text {
    font-size: 30px; 
    width: 700px;  
    font-style: italic;
     
}

.MainBody4 .mB4Text2 {
    font-size: 15px;
    width: 700px;  
    text-align: right;
}

.MainBody5{
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    width: 1400px;
    padding: 100px 20px;
    color: white;
    justify-content: center;
}

.MainBody5 .mb5Tab {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #0080ff;
    width: 700px;
    padding: 20px;
    border-radius: 5px;
    gap: 70px;
    justify-content: center;
}

.MainBody5 .mb5Text {
    font-size: 20px; 
}

.MainBody5 .mb5Text2 {
    font-size: 15px;
}

.MainBody5 button {
    background-color: #0080ff;
    color: #ffffff;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
}





